<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Get your suitable restaurant">
  <meta name="theme-color" content="#F5D426">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  
  <title>Hungry Apps</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__content flex">
        <div class="app-bar__brand">
          <h1>Hungry Restaurant</h1>
        </div>
        <div class="app-bar__menu">
          <button id="hamburgerButton">☰</button>
        </div>
          <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
              <li><a href="#/list" id="first-anchor">Home</a></li>
              <li><a href="#/favourite">Favourite</a></li>
              <li><a href="https://www.instagram.com/nanditoamri/" id="last-anchor">About Us</a></li>
            </ul>
          </nav>
      </div>
    </header>
    <main id="mainContent" tabindex="0">
    </main>
    <footer id="footerContent">
      <div class="copyright">
        <p>Copyright &#169 2022 - Hungry Restaurant Apps </p>
      </div>
    </footer>
</body>
</html>